<div>
    <div *ngIf="this.afterEffect">

        <div *ngIf="this.afterEffect.text !== undefined" class="d-flex justify-content-left gap-3">
            <label class="form-label pt-1">Text</label>
            <textarea name="" id="" class="form-control w-100mt-3" [(ngModel)]="this.afterEffect.text"></textarea>
            <div class="mt-3">
                <button class="btn btn-danger" (click)="removeAfter()">Remove</button>
            </div>
        </div>


        <div *ngIf="this.afterEffect.effect" class="d-flex justify-content-left gap-3">
            <div class="mt-3 d-flex gap-3">
                <div class="form-check form-switch pt-1">
                    <label class="form-check-label" for="flexSwitchCheckDefault">Boon</label>
                    <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault" [(ngModel)]="this.afterEffect.effect.boon">
                </div>
            </div>

            <div class="mt-3 d-flex gap-3">
                <label class="form-label pt-1">Value</label>
                <input type="number" name="" id="" class="form-control" [(ngModel)]="this.afterEffect.effect.value">
            </div>

            <div class="mt-3 d-flex gap-3">
                <label class="form-label pt-1">Target</label>
                <select class="form-select" aria-label="Default select example" [(ngModel)]="this.afterEffect.effect.target">
                    <option value="{{opt}}" *ngFor="let opt of this.statOptions">{{opt}}</option>
                  </select>
            </div>
            
            <div class="mt-3">
                <button class="btn btn-danger" (click)="removeAfter()">Remove</button>
            </div>
        </div>

    </div>
</div>
