<div class="container mt-5 form">
    <div class="bordered p-3">
      <p>Text</p>
      <textarea name="" id="" class="form-control w-100" [(ngModel)]="dillema.text"></textarea>
    </div>

    <div class="bordered p-3 mt-5" *ngFor="let option of this.dillema.choices; let  i = index">
      <app-choice [option]="option" [index]="i" [removeChoice]="this.removeChoice"></app-choice>
    </div>

    <div class="mt-5 bordered p-3">
      <div class="btn-group" role="group" aria-label="Basic example">
        <button type="button" class="btn btn-success" (click)="this.addChoice()">Add option</button>
        <button type="button" class="btn btn-primary" (click)="this.renderJson()">Render</button>
        <button type="button" class="btn btn-danger" (click)="this.reset()">Reset</button>
        <button type="button" class="btn btn-warning" data-copy-origin="#jsonCopy">Copy to clipboard</button>
      </div>
    </div>

    <div class="mt-5 bordered p-3" [hidden]="!this.showJson">
      <pre id="jsonCopy">{{ jsonCopy | json }}</pre>
  </div>
  
</div>